.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header{
width: 100%;
height: 60px;
  background-color: black;
  color: white;
}
.navigation{
  width: 20%;
  height: 100%;
  background-color: royalblue;
}
.main{
 width: 100%;
  background-color: grey;

}

.center{
  display: flex;
width: 100vw;
height: 100vh;
}

/* .main-full{
  grid-column: span 5;
  grid-row: span 4;
  background-color: grey
} */

.box{
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 1fr;

}
.box-header{
  background-color: plum;
  border: 1px solid black;
}

.box-row >*{
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.box-row >*>*{
  border: 1px solid black;
width: 100%;
height: 100%;
}